.venv/
doc/html/
/binary/
/cache/
/chroot/
/.build/
build.log
chroot.files
chroot.packages.install
chroot.packages.live
config/binary
config/bootstrap
config/chroot
config/common
*.duc-index
iso/
.coverage
__pycache__
.ruff_cache
.pytest_cache
.mypy_cache
