<?xml version="1.0" encoding="utf-8"?>
<image schemaversion="7.4" name="debian-live-config" displayname="Debian Live Config" xmlns:xi="http://www.w3.org/2001/XInclude">
    <description type="system">
        <author>Antoni Aloy Torrens</author>
        <contact>aaloytorrens@gmail.com</contact>
        <specification>Debian Live Config (Kiwi-NG)</specification>
    </description>

    <!-- Shared Profiles -->
    <include from="this://./includes/profiles.xml"/>

    <!-- Debian/derivative Preferences -->
    <preferences profiles="common_debian">
        <version>1.0.0</version>
        <packagemanager>apt</packagemanager>
        <bootsplash-theme>debian</bootsplash-theme>
        <bootloader-theme>debian</bootloader-theme>
        <locale>ca_ES</locale>
        <timezone>Europe/Madrid</timezone>
        <keytable>es-cat</keytable>
    </preferences>

    <!-- Alpine/pmOS Preferences -->
    <preferences profiles="common_alpine">
        <version>1.0.0</version>
        <packagemanager>apk</packagemanager>
        <locale>ca_ES</locale>
        <timezone>Europe/Madrid</timezone>
        <keytable>es-cat</keytable>
    </preferences>

    <!-- Repositories -->
    <include from="this://./repositories/debian.xml"/>
    <include from="this://./repositories/alpine.xml"/>
    <include from="this://./repositories/pmos.xml"/>

    <!-- Components -->
    <include from="this://./components/alpine/base.xml"/>
    <include from="this://./components/debian/base.xml"/>
    <include from="this://./components/debian/server.xml"/>
    <include from="this://./components/debian/workstation.xml"/>
    <include from="this://./components/pmos/base.xml"/>

    <!-- Platforms -->
    <include from="this://./platforms/asus_tf101.xml"/>
    <include from="this://./platforms/odroid_u3.xml"/>
    <include from="this://./platforms/pc_i386.xml"/>
    <include from="this://./platforms/pc_x86_64.xml"/>
    <include from="this://./platforms/rpi.xml"/>

</image>
