# Repository settings

# Board Support Packaging, for device tweaks
BSP_REPO = git@gitlab.com:aat-debian-repository/bsp.git
BSP_BRANCH = main

# Default distro release
DEBIAN_RELEASE = trixie
ALPINE_RELEASE = v3.24
PMOS_RELEASE = v26.06

# Build configuration
DEFAULT_TIER    = server
SUPPORTED_TIERS = workstation server
